
body {
  background-color: black;
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem; 
  line-height: 120%;
  border: 1px solid white;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60.9%;
  height: 30%;
  margin-top: 10vh;
  margin-bottom: 10vh;
  margin-left: auto;
  margin-right: auto;
}

body.index-body {
}

.container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
}

h1 {
  justify-content: center;
  text-align: center;
  font-size: 2.5em;
  overflow: visible;
  white-space: pre-wrap;
  line-height: 110%;
  padding-left: 10vw;
  padding-right: 10vw;
  inline-size: auto;
}

.btn {
  display: block;
  padding-left: center;
  padding-right: center;
  padding-top: 0.75vh; /* Updated padding value */
  padding-bottom: 0.75vh; /* Updated padding value */
  background-color: white;
  color: black;
  border: 2px solid white;
  text-align: center;
  text-decoration: none;
  font-family: 'Press Start 2P', cursive;
  font-size: 0.975vh;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.15s ease-in-out;
  width: 50%;
  overflow: visible;
  text-overflow: ellipsis;
}

.btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(0);
  box-shadow: none;
}
